@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    background-color: rgb(22, 3, 22); 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
}
h1{
    color: aliceblue;
    font-family: "Roboto Mono", monospace;
}
#name{
    color: rgb(251, 113, 251);
    font-size: 39px;
}
#virtual_assistant{
    color: rgb(117, 206, 254); 
    font-size: 39px;
}
#btn{
    width: 80%;
    max-width: 400px;
    background:linear-gradient(to right,rgb(117, 206, 254),rgb(251, 113, 251));
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgb(117, 206, 254),2px 2px 5px rgb(251, 113, 251);
    border: none;
    transition: all 0.5s;
    cursor: pointer;
}
#btn:hover{
    box-shadow: 2px 2px 10px rgb(117, 206, 254),2px 2px 10px rgb(251, 113, 251);
    letter-spacing: 1px;
}
@media screen and (max-width: 600px) {
    h1 {
        font-size: 24px;
        text-align: center;
    }
    #name, #virtual_assistant {
        font-size: 30px;
    }
    #btn {
        font-size: 16px;
        flex-direction: column;
        padding: 12px;
    }
}